@charset "UTF-8";
body{
    background-color: rgb(255, 255, 255);
}

h1 {
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
}

#tabelosa {
    border: 1px solid black;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;  
}
#tabelosa td {
    padding: 15px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    font-weight: bolder;
    
}
#tabelosa td.te {
    background-color: gray;
    vertical-align: top;
}
#tabelosa td.td {
    background-color: aquamarine;
}
#tabelosa caption span {
    display: block;
    float: right;
    margin-top: 10px;
}
